<h3 class="title">Search page</h3>
<div class="content">
    <form method="post" action="">
        <div class="form-group">
            <input type="text" class="form-control mb-3" name="fullname" id="fullname-input" placeholder="Nhập họ tên">
            <input type="text" class="form-control mb-3" name="age" id="age-input" placeholder="Nhập tuổi">
            <input type="text" class="form-control" name="q" id="search-input" placeholder="Nhập từ khóa cần tìm">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>